<form id="change-password-form">
	<div class="row">
		<div class="grid-third text-right-large">
			<label for="current-password">Current Password</label>
		</div>
		<div class="grid-two-thirds">
			<input type="password" name="current-password" class="password" id="current-password">
		</div>
	</div>
	<div class="row">
		<div class="grid-third text-right-large">
			<label for="new-password">New Password</label>
		</div>
		<div class="grid-two-thirds">
			<input type="password" name="new-password" class="password x-ray-buffer" id="new-password">
		</div>
	</div>
	<div class="row">
		<div class="grid-two-thirds offset-third">
			<label class="x-ray text-normal">
				<input type="checkbox" data-x-ray=".password">
				Show passwords
			</label>
		</div>
	</div>
	<div class="row">
		<div class="grid-two-thirds offset-third">
			<div data-form-error></div>
		</div>
	</div>
	<div class="row">
		<div class="grid-two-thirds offset-third">
			<button data-processing="Changing Your Password..." data-submit class="btn"class="btn">Change Your Password</button>
		</div>
	</div>
</form>