<div class="app-logged-out">
	<h1>Create an Account</h1>

	<form id="join-form">
		<div class="tarpit">
			<label for="username">If you're human, leave this blank</label>
			<input type="text" name="username" id="username" autocomplete="off">
		</div>
		<div>
			<div>
				<label for="email">Email <span class="text-small text-muted text-normal">Use the same email you used to purchase your courses</span></label>
			</div>
			<div>
				<input type="email" name="email" id="email">
			</div>
		</div>
		<div>
			<div>
				<label for="password">Password <span class="text-small text-muted text-normal">Must be at least 8 characters long</span></label>
			</div>
			<div>
				<input type="password" name="password" id="password" class="x-ray-buffer">
			</div>
		</div>
		<div>
			<label class="x-ray text-normal">
				<input type="checkbox" data-x-ray="#password">
				Show password
			</label>
		</div>
		<div>
			<div>
				<div data-form-error></div>
			</div>
		</div>
		<div>
			<div>
				<input type="hidden" name="NMmyaAN6t9DoEJpDnYcq2vvGjg93gsVv" value="vPLYmMJH2YsuxcrtkTuaKFeVgLXv2itTXbRV2EHwb2Jcn4MC">
				<button data-processing="Creating Your Account..." data-submit class="btn">Create an Account</button>
			</div>
		</div>
	</form>
</div>