<div class="app-logged-out" id="reset-password" hidden>
	<form id="reset-password-form">
		<div>
			<div>
				<label for="password">New Password <span class="text-small text-muted text-normal">Must be at least 8 characters long</span></label>
			</div>
			<div>
				<input type="password" name="password" id="password" class="x-ray-buffer">
			</div>
		</div>
		<div>
			<label class="x-ray text-normal">
				<input type="checkbox" data-x-ray="#password">
				Show password
			</label>
		</div>
		<div>
			<div>
				<div data-form-error></div>
			</div>
		</div>
		<div>
			<div>
				<button data-processing="Resetting Your Password..." data-submit class="btn">Reset Your Password</button>
			</div>
		</div>
	</form>
</div>