{{ partial "header.html" . }}

{{ if not .Params.noLogin }}
	{{ partial "login.html" }}
{{ end }}


<div{{ if not .Params.noLogin }} class="app-logged-in"{{ end }}>

	<strong class="text-muted"><a href="{{ .Parent.URL }}">{{ .Parent.Title }}: {{ .Params.section }}</a></strong>
	<h1 class="no-padding-top" id="play">{{ .Title }}</h1>

	<div data-app="lesson" data-course="{{ .Parent.Params.id }}" data-lesson="{{ .UniqueID }}">
		<div class="placeholder-video margin-bottom-small" style="padding-top: 57%;"><div class="placeholder placeholder-video-frame"></div></div>
		<div class="clearfix">
			<div class="placeholder placeholder-btn float-right"></div>
		</div>
	</div>

</div>

{{ partial "footer.html" . }}