{{ partial "header.html" . }}

{{ if not .Params.noLogin }}
	{{ partial "login.html" }}
{{ end }}


<div{{ if not .Params.noLogin }} class="app-logged-in"{{ end }}>

	<strong class="text-muted"><a href="{{ .Parent.URL }}">{{ .Params.section }}</a></strong>
	<h1 class="no-padding-top" id="play">{{ .Title }}</h1>

	<div data-app="academy" data-session="{{ .Parent.Params.id }}" data-academy="{{ .UniqueID }}">
		<div class="placeholder-video margin-bottom" style="padding-top: 57%;"><div class="placeholder placeholder-video-frame"></div></div>

		<div class="clearfix margin-bottom">
			<div class="placeholder placeholder-li"></div>
			<div class="placeholder placeholder-li placeholder-li-long"></div>
			<div class="placeholder placeholder-li placeholder-li-short"></div>
		</div>

		<div class="clearfix margin-bottom">
			<div class="placeholder placeholder-li"></div>
			<div class="placeholder placeholder-li placeholder-li-short"></div>
			<div class="placeholder placeholder-li placeholder-li-long"></div>
			<div class="placeholder placeholder-li"></div>
			<div class="placeholder placeholder-li placeholder-li-long"></div>
			<div class="placeholder placeholder-li placeholder-li-short"></div>
			<div class="placeholder placeholder-li"></div>
		</div>

		<div class="clearfix margin-bottom">
			<div class="placeholder placeholder-li"></div>
			<div class="placeholder placeholder-li placeholder-li-short"></div>
			<div class="placeholder placeholder-li placeholder-li-long"></div>
		</div>

		<div class="clearfix margin-bottom">
			<div class="placeholder placeholder-li"></div>
			<div class="placeholder placeholder-li placeholder-li-short"></div>
			<div class="placeholder placeholder-li placeholder-li-long"></div>
			<div class="placeholder placeholder-li"></div>
			<div class="placeholder placeholder-li placeholder-li-long"></div>
		</div>
	</div>

</div>

{{ partial "footer.html" . }}