{{ partial "header.html" . }}

{{ partial "content-page.html" . }}

{{ if not .Params.noLogin }}
<div class="app-logged-in">
{{ end }}

	{{ if .Sections }}

		<div data-app="dashboard">
			<ul>
				<li><div class="placeholder placeholder-li"></div></li>
				<li><div class="placeholder placeholder-li placeholder-li-short"></div></li>
				<li><div class="placeholder placeholder-li placeholder-li-long"></div></li>
				<li><div class="placeholder placeholder-li"></div></li>
			</ul>
		</div>

	{{ else }}

		<div data-app="course" data-course="{{ .Params.id }}">
			<ul id="placeholders" class="list-unstyled">
				<li><div class="placeholder placeholder-li"></div></li>
				<li><div class="placeholder placeholder-li placeholder-li-short"></div></li>
				<li><div class="placeholder placeholder-li placeholder-li-long"></div></li>
				<li><div class="placeholder placeholder-li"></div></li>
				<li><div class="placeholder placeholder-li placeholder-li-long"></div></li>
				<li><div class="placeholder placeholder-li placeholder-li-short"></div></li>
				<li><div class="placeholder placeholder-li"></div></li>
			</ul>

			<div id="course-lessons" hidden>
				{{ $.Scratch.Set "section" "" }}

				<h2>Lessons</h2>

				{{ range sort .Pages "URL" }}

					{{ if ne ( $.Scratch.Get "section" ) .Params.section }}
					{{ if ne ( $.Scratch.Get "section" ) "" }}
					</ol>
					{{ end }}
					<h3 class="h5 no-padding-top margin-bottom-small">{{ .Params.section }}</h3>

					<ol>
					{{ end }}

						<li>
							<a href="{{ .URL }}">{{ .Title }}</a>
						</li>

					{{ $.Scratch.Set "section" .Params.section }}

				{{ end }}
					</ol>
			</div>

			<div id="course-assets" hidden>
				<h2>Assets</h2>

				<ul>
					<li><strong><a href="{{ .Params.sourceCode }}">&lt;/&gt; Source Code</a></strong></li>
				</ul>
			</div>
		</div>

	{{ end }}

{{ if not .Params.noLogin }}
</div>
{{ end }}

{{ partial "footer.html" . }}