{{ partial "header.html" . }}

{{ if not .Params.noLogin }}
	{{ partial "login.html" }}
{{ end }}


<div{{ if not .Params.noLogin }} class="app-logged-in"{{ end }}>

	<strong class="text-muted"><a href="{{ .Parent.URL }}">{{ .Parent.Title }}: {{ .Params.section }}</a></strong>
	<h1 class="no-padding-top" id="play">{{ .Title }}</h1>

	{{ $.Scratch.Set "currentPage" .URL }}
	{{ $.Scratch.Set "nextPage" "" }}
	{{ $.Scratch.Set "prevPage" false }}

	{{ range sort .Parent.Pages "URL" "desc" }}

		{{ if eq ( $.Scratch.Get "currentPage" ) .URL }}
			{{ if eq ( $.Scratch.Get "nextPage" ) "" }}
				{{ $.Scratch.Set "nextPageLink" .Parent.URL }}
			{{ else }}
				{{ $.Scratch.Set "nextPageLink" ( $.Scratch.Get "nextPage" ) }}
			{{ end }}
		{{ end }}

		{{ if ( $.Scratch.Get "prevPage" ) }}
			{{ $.Scratch.Set "prevPageLink" .URL }}
			{{ $.Scratch.Set "prevPage" false }}
		{{ end }}

		{{ if eq ( $.Scratch.Get "currentPage" ) .URL }}
			{{ $.Scratch.Set "prevPage" true }}
		{{ end }}

		{{ $.Scratch.Set "nextPage" .URL }}

	{{ end }}

	<div data-app="lesson" data-course="{{ .Parent.Params.id }}" data-lesson="{{ .UniqueID }}" data-lesson-next="{{ $.Scratch.Get "nextPageLink" }}" data-lesson-prev="{{ $.Scratch.Get "prevPageLink" }}">
		<div class="placeholder-video margin-bottom-small" style="padding-top: 57%;"><div class="placeholder placeholder-video-frame"></div></div>
		<div class="clearfix">
			<div class="placeholder placeholder-btn float-right"></div>
		</div>
	</div>

</div>

{{ partial "footer.html" . }}