/**
 * @section Form Validation
 * Styling for form validation
 */

.error-message,
.success-message {
	font-style: italic;
	margin-bottom: 1em;
}

.error-message {
	color: darken( $color-secondary, 25% );
}